body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header {
    justify-content: space-between;
}

.my-name {
    font: italic 50px 'Roboto', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    text-transform: uppercase;
    margin-right: 15px;
    color: salmon;
}

@media screen and (max-width: 540px){
    .my-name{
        font-size: 35px;
        text-shadow: 2px 2px 2px #aaa;
    }
}

.logo {
    width: 8%;
    filter: drop-shadow(2px 2px 2px lightgray);
    margin-left: 15px;
}

@media screen and (max-width: 540px){
    .logo{
        width: 9%;
        margin-left: 10px;
    }
}

hr {
    border: 2px solid #aaa;
}

.about {
    background: url(../img/gears.jpg) bottom/cover;
    min-height: 250px;
}

@media screen and (max-width: 540px){
    .about{
        min-height: 150px;
    }
}

.about-title {
    height: 125px;
    text-align: center;
    color: chartreuse;
    text-shadow: 4px 4px 2px #888;
    font: 50px/135px 'Lato', sans-serif;
    margin: 0 0 0 0;
}

@media screen and (max-width: 540px){
    .about-title{
        height: 75px;
        font-size: 30px;
        line-height: 85px;
        text-shadow: 3px 3px 1.5px #888;
    }
}

.about-text {
    font: 30px 'Roboto', sans-serif;
    margin: 10px 10px 10px 15px;
    color: midnightblue;
    text-shadow: 3px 3px whitesmoke;
}

@media screen and (max-width: 540px){
    .about-text{
        font-size: 20px;
        margin: 5px 5px 5px 10px;
        text-shadow: 2px 2px whitesmoke;
    }
}

.work-title {
    font: 40px 'Open Sans', sans-serif;
    margin: 0 0 0 20px;
    color: darkslategrey;
    text-shadow: 1px 1px navy;
    width: 100%;
}

@media screen and (max-width: 540px){
    .work-title{
        font-size: 24px;
        margin-left: 12px;
    }
}

section {
    justify-content: space-around;
}

@media screen and (max-width: 540px){
    figure{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

figure img {
    max-height: 125px;
    max-width: 100%;
}

@media screen and (max-width: 540px){
    figure img{
        width: 25%;
        max-height: fit-content;
    }
}

figcaption {
    text-align: center;
    font: 25px 'Roboto', sans-serif;
    padding-top: 0.5em;
    color: silver;
    text-shadow: 1px 1px crimson;
}

@media screen and (max-width: 540px){
    figcaption{
        font-size: 20px;
        display: block;
        padding-top: 0;
    }
}
